*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:hover, .link:focus {
  color: #2196F3;
}

.content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .content {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .content {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 1200px;
  }
}

.header {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #ECECEC;
  position: relative;
}

.header > .content {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  background-color: #FFFFFF;
  padding: 0;
  border: none;
  margin-left: 276px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .menu-close {
  display: none;
}

.menu-btn.is-open .menu-close {
  display: block;
}

.menu-btn.is-open .menu-open {
  display: none;
}

.mobile-menu {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}

.mobile-menu.is-open {
  display: block;
}

@media (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.site-nav {
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 40px;
}

.site-nav__item:nth-child(2) {
  margin-top: 48px;
}

.site-nav__item:nth-child(3) {
  margin-top: 40px;
}

.active-page::after {
  content: '';
  position: absolute;
  top: 29px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.mailto__mail {
  margin-top: 60px;
}

.mailto__tel {
  margin-top: 16px;
}

.mailto-list {
  display: block;
  text-align: center;
}

.mail-svg {
  fill: currentColor;
  margin-right: 10px;
  align-items: center;
}

.mailto__link:hover .mail-svg,
.mailto__link:focus .mail-svg {
  fill: #2196F3;
}

.mailto__link {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  padding: 0;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 90px;
  }
}

.logo-web {
  color: #2196F3;
}

.logo-footer {
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 0;
}

.logo-footer-web {
  color: #2196F3;
}

.hero {
  display: block;
  text-align: center;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mobile.jpg);
  width: 480px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tablet.jpg);
    height: 400px;
    width: 768px;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
    width: 1600px;
    height: 600px;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero@2x.jpg);
  }
}

.block {
  display: block;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-width: 1200px) {
  .block {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36em;
  }
}

.link-btn {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: none;
  cursor: pointer;
}

.sec-section {
  background-color: #FFFFFF;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list > .item {
    width: 270px;
    margin-right: 30px;
  }
  .features-list > .item:last-child {
    margin-right: 0;
  }
}

.feature-bg {
  border: 0;
  padding: 0;
  display: flex;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.features-svg {
  width: 70px;
  height: 70px;
}

.feature-list-header {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.feature-desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.feature-desc:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .special-hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .spesial {
    display: flex;
  }
  .special-list {
    display: flex;
  }
  .element:not(:last-child) {
    margin-right: 30px;
  }
  .special__link {
    text-decoration: none;
    position: relative;
  }
  .special__caption {
    margin: 0;
    position: absolute;
    align-content: center;
    left: 0;
    bottom: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    padding-top: 27px;
  }
}

.team-content {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.team-list {
  display: block;
  text-align: center;
}

.team-element {
  width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  text-align: center;
  padding-bottom: 24px;
}

.team-element:not(:last-child) {
  margin-bottom: 30px;
}

.team {
  background: #F5F4FA;
}

.team-ph {
  height: 460px;
  margin-bottom: 30px;
}

.subtitle-names {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.text-job {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  text-decoration: none;
  display: flex;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196F3;
}

.social-link-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-link-svg,
.social-link:focus .social-link-svg {
  fill: #FFFFFF;
  background-color: var(--highliting-color);
}

.clients-bgc {
  background-color: #FFFFFF;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-logo {
  display: flex;
  flex-wrap: wrap;
}

.icon-clients {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
  display: flex;
  color: #afb1b8;
  width: 208px;
  height: 88px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover, .icon-link:focus {
  border: 1px solid #2196F3;
}

.icon-link:hover .icon-clients,
.icon-link:focus .icon-clients {
  color: #2196F3;
}

.icon-item {
  margin-bottom: 30px;
}

.icon-item:nth-child(2n+1) {
  margin-right: 30px;
}

.icon-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.main-cont {
  margin-top: 60px;
  margin-bottom: 60px;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 16px;
}

.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  min-width: 29px;
  border-radius: 4px;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.work-list {
  display: block;
}

.work-item {
  width: 450px;
  height: 404px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  padding-bottom: 20px;
}

.work-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
}

.pictures {
  height: 294px;
}

.subtitle-pflo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  padding: 0;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  margin-left: 24px;
}

.actions {
  display: block;
  position: relative;
  overflow: hidden;
}

.item-actions {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 0;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: auto;
  width: 450px;
  height: 140px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action-link:hover .item-actions,
.action-link:focus .item-actions {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  background-color: #2F303A;
}

.footer-content {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-content {
  padding-bottom: 60px;
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 8px;
}

.foot-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9;
}

.tel {
  margin-bottom: 0;
}

.join {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 0;
}

.social-footer {
  display: flex;
  justify-content: center;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #FFFFFF;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon-link:hover, .join-icon-link:focus {
  background: #2196F3;
}

.join-icon-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.comment {
  height: 120px;
  display: flex;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  margin-bottom: 20px;
}

.subscribe {
  padding-top: 60px;
  position: relative;
  text-align: center;
}

.subscribe-btn {
  position: relative;
  width: 109px;
  height: 48px;
  padding-left: 29px;
  padding-right: 62px;
  margin-left: 12px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.subscribe-word {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
}

.subscribe-svg {
  position: absolute;
  background-size: contain;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.mail-input:placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-input {
  width: 450px;
  height: 50px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
  background: transparent;
  padding-left: 16px;
}

.mail-label {
  margin: 0;
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-btn-svg {
  background-size: contain;
  fill: #2f2f2f;
}

.close-btn {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.close-btn:hover .close-btn-svg {
  fill: #2196F3;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #2196F3;
}

.modal-label {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.modal-input:focus + .form-icon-svg {
  fill: #2196F3;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  margin-top: 0;
}

.name-input {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 0;
  margin: 0;
}

.comment::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox:checked + .icon-checkbox {
  background-color: #2196F3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  padding: 0;
  display: flex;
  margin-left: 11px;
  margin-right: 11px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  justify-content: center;
}

.document {
  color: #2196F3;
  margin-left: 4px;
}

.form-btn {
  background: #2196F3;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  display: block;
  margin: auto;
  cursor: pointer;
}

.form-icon-svg {
  position: absolute;
  top: 57%;
  left: 15px;
  transform: translateY(-57%);
  background-size: contain;
  fill: black;
}
/*# sourceMappingURL=main.css.map */