*,
::after,
::before {
  box-sizing: border-box;
//   outline: 2px solid red;
}

body {
    font-family: Roboto, sans-serif;
    background-color: $white-color;  
}

img {
   display: block;
   max-width: 100%;
   height: auto; 
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;    

    &:hover,
    &:focus{
        color:  $highlight-color;
    }
}

.content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include for-size(mobile) {
        width: 480px;
    }
    
    @include for-size(tablet) {
        width: 768px;
    }
    
    @include for-size(desktop) {
        width: 1200px;
    }
}

