.clients-bgc {
    background-color: $white-color;
}

.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients-logo {
    display: flex;
    flex-wrap: wrap;
}

.icon-clients {
    fill: currentColor;
    transition: fill $animation;
}

.icon-link {
    display: flex;
    color: $svg-cl;
    width: 208px;
    height: 88px;
    border: 1px solid $svg-cl;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border $animation;

    &:hover,
    &:focus {
        border: 1px solid $highlight-color;
    }

    @include for-size(tablet) {
        width: 226px;
        height: 90px;
    }

    @include for-size(desktop) {
        width: 170px;
        height: 90px;
    }
}

// .icon-link:last-child {
//     margin-right: 0;
// }

.icon-link:hover .icon-clients,
.icon-link:focus .icon-clients {
    color: $highlight-color;
}


.icon-item{
    margin-bottom: 30px;

    &:nth-child(2n+1) {
        margin-right: 30px;
    }
    &:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    @include for-size(tablet) {
        margin-right: 30px;

        &:nth-child(3n+3) {
            margin-right: 0;
        }
        
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }

    @include for-size(tablet) {
        &:not(:last-child) {
            margin-right: 30px;
        }
       
    }
}