.footer {
    background-color: $bg-color;
}

.footer-content {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    @include for-size(tablet) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 61px;
        padding-right: 74px;
    }

    @include for-size(desktop) {
        padding-right: 0;
        padding-left: 0; 
    }

}

.foot-content {
    margin-bottom: 60px;

    @include for-size(tablet) {
        margin-right: 165px;
        text-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    @include for-size(desktop) {
        margin-right: 70px;
        text-align: start;
    }
}

.adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: $white-color;
    margin-top: 20px;
    margin-bottom: 8px;
}

.foot-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9;
}

.tel {
    margin-bottom: 0;
}

.join {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    color: $white-color;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 0;
}

@media screen and(min-width: 1200px) {
    .join-us {
        padding-top: 12px;
    }
    
    .footer-content {
        display: inline-flex;
    }
}

.social-footer {
    display: flex;
    justify-content: center;
}

.join-item:not(:last-child) {
    margin-right: 10px;
}

.join-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color:$white-color;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color $animation;

    &:hover,
    &:focus {
    background: $highlight-color;
    }   
}

.join-icon-svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.comment {
    height: 120px;
    display: flex;
    padding-top: 12px;
    padding-left: 16px; 
    resize: none;  
    margin-bottom: 20px;
}

.subscribe {
    margin-top: 60px;
    position: relative;
    text-align: center;
    @include for-size(desktop) {
        margin-left: 93px; 
        padding-top: 12px;
        margin-top: 0;
    }
}

@media screen and(min-width: 1200px) {
    .subscribe-items {
        display: flex;
        align-items: center;
    }
}

.subscribe-btn {
    position: relative;
    width: 200px;
    height: 50px;
    
    padding-left: 29px;
    padding-right: 62px;
    margin-left: 12px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;
    border-radius: 4px; 
    cursor: pointer;
    margin-top: 20px;

    @include for-size(desktop) {
        margin-top: 0;
    }
}

.subscribe-word {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $white-color;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 0; 
  
}

.subscribe-svg {
    position: absolute;
    background-size: contain;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}

.mail-input:placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.mail-input {
    width: 450px;
    height: 50px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $white-color;
    background: transparent;
    padding-left: 16px;

    @include for-size(desktop) {
        width: 358px;
    }

}

.mail-label {
    margin: 0;
    padding: 0;
}