.header {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white-color;
    border: 1px solid #ECECEC;
    position: relative;

    & > .content {
        display: flex;
    } 
    
    @include for-size(tablet) {
        max-width: 768px;
    }

    @include for-size(tablet) {
        max-width: 1200px;
    }

}

.header-nav {
    @include for-size(tablet) {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    
    @include for-size(desktop) {
        padding-top: 24px;
        padding-bottom: 25px;
    }

}

.header__content {
    width: 100%;
    @include for-size(mobile-only) {
        max-width: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px; 
    }

    @include for-size(tablet) {
        padding-top: 6px; 
        width: 134px;
        margin-right: 88px; 
    }
     
}


.menu-btn {

    display: inline-flex;
    margin: 0;
    background-color: $white-color;
    padding: 0;
    border: none;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    

    @include for-size(tablet) {
        display: none;
    }

    .menu-svg {
        fill: black;
    }

    &:hover .menu-svg {
        fill: $highlight-color;
    }
}


.menu-btn .menu-close {
    display: none;
}

.menu-btn.is-open .menu-close {
    display: block;
}
.menu-btn.is-open .menu-open {
    display: none;
}

.mobile-menu {
    z-index: 100;
    
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $white-color;

    &.is-open {
        @include for-size(mobile-only) {
            display: block;
            width: 100%;
            max-width: 480px;
        }    
    }

    @include for-size(mobile-only) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-width: 480px;
        height: auto;
    }

    @include for-size(tablet) {
        display: flex; 
        align-items: center;
        margin: 0;
        padding: 0;
        
    }
     
}

.site-nav {
   
    display: block;
    text-align: center;

    @include for-size(tablet) {
        display: flex;
        
    }

    & .item:not(:last-child) {

        @include for-size(desktop) {
            margin-right: 50px;
        }
    }    
    
}

.site-nav__link {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.02em;
    color: $title-text-color;
    transition: $animation;
    margin-top: 40px;

    @include for-size(tablet) {
    
        font-size: 14px;
        line-height: 1.14em;
    }
}

.site-nav__item {

    &:nth-child(2) {
        margin-top: 48px;
        @include for-size(tablet) {
            margin-top: 0;
        }
    }
    
    &:nth-child(3) {
        margin-top: 40px;
        @include for-size(tablet) {
            margin-top: 0;
            margin-left: 0;
        }
    }

    &:not(:last-child) {
        @include for-size(tablet) {
            margin-right: 50px;
        }
    }    
}  


.active-page::after {
    content: '';
    position: absolute;
    top: 29px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $highlight-color;
    border-radius: 2px;

    @include for-size(tablet) {
        top: 50px;
    }

    @include for-size(desktop) {
        top: 46px;
    }
}


.mailto__tel {
    margin-top: 16px;

    @include for-size(tablet) { 
        margin-top: 10px;
        
    }

    @include for-size(desktop) {
        margin-top: 0;
        margin-left: 30px;
    }
}

.mailto-list {
    display: block;
    text-align: center;

    @include for-size(mobile-only) {
        margin-top: 60px;
    }

    @include for-size(tablet) {
        display: inline-block;
        margin-left: 84px;
        text-align: start;
    }

    @include for-size(desktop) {
        display: flex;
        margin-left: 305px;
        align-items: center;
    }

}

.mail-svg {
    display: inline-flex;
    fill: currentColor;
    margin-right: 10px;
    align-items: center;
}

.mailto__link:hover .mail-svg,
.mailto__link:focus .mail-svg {
    fill: $highlight-color;
}


.mailto__link {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.02em;
    color: $p-text-color;
    align-items: center;
    transition: color $animation;

    @include for-size(tablet) {
        font-size: 12px;
        line-height: 1.17em; 
        display: inline-flex; 
    }

    @include for-size(desktop) {
        font-size: 14px;
        line-height: 1.14em;
        display: inline-flex;
    }
}

 


