@media screen and  (max-width: 1199px) {

    .special-hidden {
        display: none;
    }
}

.spesial {
    display: block;
    // @include for-size(desktop) {
    //     padding-bottom: 94px;

    // }
}

.special__element {
    position: relative;
}

.special-list {
    display: flex;
}

.special__element:not(:last-child) { 
    margin-right: 30px;
}

.special__link {
    text-decoration: none;
}

.special__caption {
    margin: 0;
    position: absolute;
    align-content: center;
    left: 0;
    bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14em;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    padding-top: 27px;
}
